
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

* {
        font-family: "Fredoka", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        font-variation-settings:
          "wdth" 100;
}
body {
    background-color: gainsboro;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.text{
    text-align: center;
    margin-top: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin-bottom: 25px;
}
.num-style {
    height: 20px;
    width: 1rem;
    background-color: black;
    color: white;
    text-align: center;
}
.main-div {
    margin-left: 6rem;
    margin-right: 6rem;
    display: flex;
    /* margin-left: 10rem;
    margin-right: 10rem; */
    margin-top: 3rem;
    gap: 2rem;
}
.top-text-style {
    text-align: center;
    display: flex;
    margin-bottom: 15px;
    justify-content: center;
}
.common-img-style {
    height: 3rem;
    width: 3rem;
}
.blog-text-style {
    width: 7rem;
    background-color: black;
    color: white;
    text-align: center;
    margin-left: 5px;
    height: 22px;
}
/* .wid-left{
    width: 70%;
}
.wid-right {
    width: 35%;
} */
.img-card-left {
    box-shadow: 0px 0px 10px black;
    height: 33rem;
    margin-bottom: 2rem;
    background-color: white;
}
.container {
    padding: 1rem;
}
.btn {
    background-color: rgb(251, 251, 252);
    text-align: center;
    padding: 5px;
    border: 1px solid black;
}
.btn:hover {
    background-color:rgb(218, 226, 226);
    color: black;
    cursor: pointer;
}
.img-card-right {
    box-shadow: 0px 0px 10px black;
    margin-bottom: 2rem;
    background-color: white;
}
.text-style {
    width: auto;
    /* height: 2rem; */
    padding: 1rem;
}
.box-style {
    width: auto;
    height: 3rem;
    padding: 1rem;
    background-color: white;
    border-bottom: 1px solid;
}
.box-style:hover {
    background-color: rgb(187, 193, 206);
    /* color: white; */
    width: auto;
    height: 3rem;
}
.black-box {
    text-align: center;
    font-size: 10px;
    width: 4rem;
    /* height: 2rem; */
    background-color: rgb(17, 16, 16);
    color: white;
    padding-top: 10px;
    text-wrap: nowrap;
}
.hr-style {
    border-top: 1px solid white ;
}
.grey-box {
    font-size: 10px;
    text-wrap: nowrap;
    text-align: center;
    width: auto;
    height: auto;
    background-color: gray;
    color: white;
    padding: 10px;
}
.common-div-style {
    display: flex;
    flex-wrap: wrap;
    padding-left: 1rem;
    gap: 2px;
    font-size: 10px;
    padding-right: 10px;
}
.btn-style {
    background-color: black;
    color: white;
    width: 5rem;
    height: 3rem;
    margin-top: 1rem;
    text-align: center;
}
.btn-style:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}
.img-txt-style {
    height: 3rem;
    margin-left: 1rem;
}
.footer {
    width: 100%;
    height: 10rem;
    background-color: rgb(102, 101, 102);
    color: blueviolet;
}
.ftr-txt {
    gap: 5px;
    display: flex; 
    margin-left: 1rem
}
.cmt-txt-style {
    justify-content: end;
    display: flex;
    gap: 10px;
}
@media only screen and (max-width:900px){

    .main-div {
        display: flex;
        flex-direction: column;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 2rem;
        gap: 2rem;
    }
 
    .img-card-left {
        box-shadow: 0px 0px 10px black;
        height: fit-content;
        /* margin-bottom: 12rem; */
        background-color: white;
    }
    .common-div-style {
        display: flex;
        flex-wrap: wrap;
    }
}

@media only screen and (max-width:1300px) {
    .main-div {
        margin-left: 2rem;
        margin-right: 2rem;
        margin-top: 2rem;
        gap: 2rem;
    }
}
@media only screen and (max-width:500px) {
    .common-div-style {
        display: flex;
        height: 5rem;
        flex-wrap: wrap;
    }
}